* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Avenir Next', Avenir, Helvetica, 'Calibri', Arial, 'sans-serif';
  font-size: 10px;
  background: $light-gray5;
  color: $dark-gray1;

  .breakpoint-mobile & {
    font-size: 8px
  }
  .breakpoint-tablet & {
    font-size: 10px;
  }

  .pronunciation {
    font-family: 'Avenir Next Condensed', 'Arial Narrow', 'sans-serif';
  }

  .heading {
    font-family: 'Avenir Next Condensed', Avenir, Helvetica, 'Calibri', Arial, 'sans-serif';
  }

}

.outer-container {
  .breakpoint-desktop &,
  .breakpoint-wide & {
    width: 1024px;
    margin: 0 auto;
  }
}

a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  cursor: pointer;
}