* {
  box-sizing:           border-box;
  padding:              0px;
  margin:               0px;
}

body {
  font: normal 16px Helvetica;

  .breakpoint-mobile & {
    font: normal 8px Helvetica;
  }
  .breakpoint-tablet & {
    font: normal 10px Helvetica;
  }
}

