$green-lightest: #B6FFC3;
$green-lighter: #A6FCB0;
$green-medium: #78FF87; // #79FFBB
$green-darker: #2ECC40; // #57D595
$dark-gray: #202020;
$gray: #B2B2B2;
$light-gray: #EBEAEA;
$almost-white: #F5F5F5;
$basically-white: #FCFCFC;
$gray3: rgb(249,249,249);
$gray2: rgb(251,251,251);
$gray1: rgb(253,253,253);
$gray0: rgb(255,255,255);