/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/_base.scss */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/_base.scss */
body {
  font: normal 16px Helvetica;
  background: #79ffbb;
}
/* line 11, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/_base.scss */
.breakpoint-mobile body {
  font: normal 8px Helvetica;
}
/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/_base.scss */
.breakpoint-tablet body {
  font: normal 10px Helvetica;
}

/* line 21, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/_base.scss */
.breakpoint-desktop .outer-container, .breakpoint-wide .outer-container {
  width: 1024px;
  margin: 0 auto;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_header.scss */
.site-header {
  background-color: black;
  color: white;
  text-align: right;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-banner {
  text-align: center;
}

/* line 5, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-banner-headline {
  background: #79ffbb;
  overflow: hidden;
  padding-bottom: 0.4em;
}
/* line 10, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-banner-headline h1 {
  font-size: 4em;
  padding: 0.7em;
}

/* line 16, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-banner-tagline {
  padding: 1em 0em;
  background-color: #79ffbb;
}
/* line 20, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-banner-tagline input {
  background-color: #b6ffda;
}

/* line 25, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-word-input {
  font-size: 2.5em;
}

/* line 29, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-word-input-pronunciation {
  font-size: 2em;
  font-style: italic;
}

/* line 34, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-word-input-arrows {
  font-size: 2.5em;
  color: #57d595;
  display: inline-block;
  padding-left: 0.5em;
}

/* line 41, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-more-options {
  font-size: 1.5em;
  font-style: italic;
}

/* line 46, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-options-area-input {
  background-color: #57d595;
  padding: 1em 0em;
}

/* line 51, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-options-area {
  padding: 0em 0em 1em;
}

/* line 55, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-options-container {
  background-color: #57d595;
  padding: 0em;
}

/* line 60, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-lead-in {
  padding: 0em 0em 1em;
}

/* line 64, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-final {
  padding: 1em 0em 3.5em;
}

/* line 68, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_main-banner.scss */
.main-option-box {
  font-size: 2em;
  padding: 0.5em;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.results-list {
  text-align: center;
}

/* line 5, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-row-even {
  background-color: #79ffbb;
  padding: 1.5em;
  position: relative;
}

/* line 11, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-row-odd {
  background-color: #57d595;
  padding: 1.5em;
  position: relative;
}

/* line 17, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-word-name {
  font-size: 2.5em;
  width: 100%;
}

/* line 22, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-word-pronunciation {
  font-size: 2em;
  font-style: italic;
  padding: 0.6em 0em;
}

/* line 28, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-expander-arrow-even {
  font-size: 2.5em;
  color: #57d595;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

/* line 37, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-expander-arrow-odd {
  font-size: 2.5em;
  color: #79ffbb;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

/* line 46, ../../../../../../Users/robertkerr/Documents/GitHub/giftrapped-ang/css/modules/_results-list.scss */
.result-word-lexeme {
  text-align: left;
  font-size: 1.5em;
  padding: 0.4em 2em;
}
