/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
}

/* line 8, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
body {
  font-family: 'Avenir Next', Avenir, 'sans-serif';
  font-size: 16px;
  background: whitesmoke;
  color: #323232;
}
/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-mobile body {
  font: normal 8px Helvetica;
}
/* line 17, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-tablet body {
  font: normal 10px Helvetica;
}

/* line 24, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-desktop .outer-container, .breakpoint-wide .outer-container {
  width: 1024px;
  margin: 0 auto;
}

/* line 30, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
a {
  text-decoration: underline;
  color: blue;
}

/* line 35, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
a:hover {
  cursor: pointer;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete {
  position: relative;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

/* line 9, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete input {
  font-size: 2.5em;
  padding: 0.3em;
  width: 100%;
}

/* line 15, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.clear-button {
  position: absolute;
  right: 0.2em;
  top: 0.4em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  cursor: pointer;
  font-size: 2.2em;
  color: gray;
}

/* line 27, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #464646;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

/* line 38, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0.3em;
  background-color: #fff;
}

/* line 48, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete li.active {
  width: 100%;
  background-color: #4bf;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.site-header {
  background-color: #464646;
  color: whitesmoke;
  font-size: 1.8em;
  line-height: 1.8;
  padding: 0em 1em;
}

/* line 9, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.header-box {
  color: whitesmoke;
  overflow: auto;
}

/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.site-header a {
  color: whitesmoke;
}

/* line 18, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.explanation-subbox a {
  font-weight: 500;
}

/* line 22, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.explanation-box {
  padding: 1em 1em;
  line-height: 1.4em;
}

/* line 27, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.explanation-subbox {
  padding: 0.5em 0em;
}

/* line 31, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.header-arrow {
  color: whitesmoke;
  float: left;
  font-size: 0.8em;
  padding: 0.2em 0.8em;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
input, select {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* line 6, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner {
  text-align: center;
}

/* line 10, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner a {
  color: black;
}

/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner-headline {
  background: whitesmoke;
  overflow: hidden;
  padding-bottom: 0.4em;
}
/* line 19, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner-headline h1 {
  font-size: 5em;
  font-weight: 600;
  padding: 0.7em;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

/* line 27, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner-tagline {
  padding: 1em 0em;
  background-color: whitesmoke;
}
/* line 31, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-banner-tagline input {
  background-color: white;
  font-family: inherit;
}

/* line 37, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-input {
  font-size: 2.5em;
}

/* line 41, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-input-pronunciation {
  font-size: 2em;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

/* line 47, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-input-arrows {
  font-size: 2.5em;
  color: #b2b2b2;
  display: inline-block;
  padding-left: 0.5em;
}

/* line 54, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-more-options {
  font-size: 1.8em;
  font-style: italic;
}

/* line 59, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-options-area-input {
  background-color: whitesmoke;
  padding: 1em 0em;
}

/* line 64, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-options-area {
  padding: 0em 0.5em 1em;
}

/* line 68, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-options-select-area {
  max-width: 500px;
  width: 95%;
  padding: 1em 0.5em 2em;
  margin: 0em auto 1em;
  font-size: 1em;
}

/* line 76, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-options-container {
  background-color: whitesmoke;
  padding: 0em;
  position: relative;
}

/* line 82, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.close-button {
  position: absolute;
  right: 0.3em;
  top: 0.4em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  cursor: pointer;
}

/* line 92, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-lead-in {
  padding: 0em 0em 1em;
}

/* line 96, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-final {
  padding: 1em 0em 3.5em;
}

/* line 100, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-box {
  font-size: 1.8em;
  padding: 0.3em;
}
/* line 104, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-box select {
  font-family: inherit;
  padding: 0.1em 0.5em 0.1em 0.1em;
}

/* line 110, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-segment-description {
  display: inline-block;
  text-align: left;
  width: 3.7em;
}

/* line 116, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-segment-input {
  width: 40%;
  max-width: 7em;
  font-size: 1em;
  padding: 0.2em;
}

/* line 123, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-word-syllable {
  display: inline-block;
  background-color: #ebebeb;
  padding: 0.8em 0.6em 0.8em;
  margin: 0 0.1em;
  border: solid 1px #b2b2b2;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

/* line 132, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-syllable {
  display: inline-block;
  background-color: whitesmoke;
  padding: 0.8em 0.6em 0.8em;
  margin: 0 0.1em;
  border: solid 1px #b2b2b2;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

/* line 141, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-syllable.selected {
  background-color: #fdfdfd;
}

/* line 145, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-syllable:hover {
  cursor: pointer;
}

/* line 149, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-segment {
  padding: 0;
}

/* line 153, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-segment-match {
  color: green;
  padding: 0;
}

/* line 158, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-segment-antimatch {
  color: red;
  padding: 0;
}

/* line 163, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-diagram-ellipsis {
  display: inline-block;
  padding: 0;
}

/* line 168, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-box-syllable-details {
  padding: 0.5em;
  background-color: whitesmoke;
  width: 16.5em;
  margin: 0.5em auto;
}

/* line 175, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.main-option-segment-box {
  padding: 0.3em;
}

/* line 179, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-area {
  padding: 1em 0.5em;
}

/* line 183, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-expander-arrow {
  font-size: 2.5em;
  color: whitesmoke;
  position: absolute;
  top: 0.15em;
  right: 0.4em;
  padding: 0.6em;
}

/* line 192, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.query-word-lexeme {
  text-align: left;
  font-size: 1.5em;
  padding: 0.4em 2em;
}

/* line 198, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.syllable-table {
  display: inline-block;
  font-size: 2em;
  padding: 0.5em 0em;
  white-space: nowrap;
}

/* line 205, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.syllable-table td {
  padding: 0.3em 0.15em;
  text-align: center;
}
/* line 209, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.syllable-table td div {
  width: 100%;
}

/* line 214, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.results-list {
  text-align: center;
  margin-bottom: 10em;
}

/* line 219, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.result-row {
  background-color: whitesmoke;
  padding: 2em 1.5em;
  position: relative;
  cursor: pointer;
}

/* line 226, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.expanded {
  border-top: solid 1px #b2b2b2;
  border-bottom: solid 1px #b2b2b2;
  margin-top: -1px;
  background-color: #f9f9f9;
}

/* line 233, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.expanded_inside {
  border-top: solid 1px #b2b2b2;
  border-bottom: solid 1px #b2b2b2;
  margin-top: -1px;
  background-color: #fdfdfd;
}

/* line 240, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.result-word-name {
  font-size: 2.5em;
  width: 100%;
  font-weight: 500;
}

/* line 246, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.result-word-pronunciation {
  font-size: 2em;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

/* line 252, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.result-word-expanded {
  padding: 1em 2em 0.5em;
}

/* line 256, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.result-word-lexeme {
  text-align: left;
  font-size: 1.5em;
  padding: 0.4em 0em;
}

/* line 262, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.more-results-link {
  font-size: 2.5em;
  width: 100%;
  color: black;
}

/* line 268, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_body.scss */
.more-results {
  background-color: #f9f9f9;
  padding: 3em 0;
  position: relative;
  cursor: pointer;
  border-top: solid 1px #b2b2b2;
  border-bottom: solid 1px #b2b2b2;
  height: 9.5em;
  margin-top: 5em;
}

@-webkit-keyframes rotate-forever {
  /* line 9, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 17, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  /* line 26, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 34, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  /* line 43, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 51, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 60, main.scss */
.loading-spinner {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  width: 5em;
  height: 5em;
  border: 1em solid #464646;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}
