
* {
  padding:              0;
  margin:               0;
}

html {
  background:           white;
}

body {
  font:                 14pt Helvetica;
  margin:               0px 10% 0px;
  height:               100%;
  padding:              1em;
}

