$light-gray1: rgb(253,253,253);
$light-gray2: rgb(251,251,251);
$light-gray3: rgb(249,249,249);
$light-gray4: rgb(247,247,247);
$light-gray5: rgb(245,245,245);
$light-gray6: rgb(243,243,243);
$light-gray7: rgb(239,239,239);
$light-gray8: rgb(235,235,235);
$medium-gray1: rgb(178,178,178);
$dark-gray1: rgb(50,50,50);
$dark-gray2: rgb(60,60,60);
$dark-gray3: rgb(70,70,70);