/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* line 7, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
body {
  font: normal 16px Helvetica;
  background: #78ff87;
}
/* line 11, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-mobile body {
  font: normal 8px Helvetica;
}
/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-tablet body {
  font: normal 10px Helvetica;
}

/* line 21, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
.breakpoint-desktop .outer-container, .breakpoint-wide .outer-container {
  width: 1024px;
  margin: 0 auto;
}

/* line 27, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
a {
  text-decoration: underline;
  color: blue;
}

/* line 32, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_base.scss */
a:hover {
  cursor: pointer;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete {
  position: relative;
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}

/* line 9, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete input {
  font-size: 2.5em;
  padding: 0.3em;
  width: 100%;
}

/* line 15, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete ul {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #78ff87;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

/* line 26, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete li {
  text-align: left;
  list-style: none;
  width: 100%;
  font-size: 1.5em;
  line-height: 2em;
  padding: 0.3em;
  background-color: #fff;
}

/* line 36, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/_autocomplete.scss */
.autocomplete li.active {
  width: 100%;
  background-color: #4bf;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.site-header {
  background-color: #202020;
  color: #efefef;
  font-size: 1.8em;
  line-height: 1.8;
  padding: 0em 1em;
}

/* line 9, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.header-box {
  color: #b6ffc3;
  overflow: auto;
}

/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.site-header a {
  color: #b6ffc3;
}

/* line 18, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.explanation-box {
  padding: 1em 1em;
  line-height: 1.4em;
}

/* line 23, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.explanation-subbox {
  padding: 0.5em 0em;
}

/* line 27, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_header.scss */
.header-arrow {
  color: #b6ffc3;
  float: left;
  font-size: 0.8em;
  padding: 0.2em 0.8em;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner {
  text-align: center;
}

/* line 5, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner a {
  color: black;
}

/* line 9, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner-headline {
  background: #78ff87;
  overflow: hidden;
  padding-bottom: 0.4em;
}
/* line 14, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner-headline h1 {
  font-size: 4em;
  padding: 0.7em;
}

/* line 20, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner-tagline {
  padding: 1em 0em;
  background-color: #78ff87;
}
/* line 24, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-banner-tagline input {
  background-color: #b6ffc3;
}

/* line 29, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-input {
  font-size: 2.5em;
}

/* line 33, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-input-pronunciation {
  font-size: 2em;
  font-style: italic;
}

/* line 38, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-input-arrows {
  font-size: 2.5em;
  color: #2ecc40;
  display: inline-block;
  padding-left: 0.5em;
}

/* line 45, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-more-options {
  font-size: 1.6em;
  font-style: italic;
}

/* line 50, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-options-area-input {
  background-color: #2ecc40;
  padding: 1em 0em;
}

/* line 55, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-options-area {
  padding: 0em 0.5em 1em;
}

/* line 59, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-options-select-area {
  max-width: 540px;
  padding: 1em 2em 2em;
  margin: 0em auto;
}

/* line 65, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-options-container {
  background-color: #2ecc40;
  padding: 0em;
  position: relative;
}

/* line 71, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-lead-in {
  padding: 0em 0em 1em;
}

/* line 75, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-final {
  padding: 1em 0em 3.5em;
}

/* line 79, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-box {
  font-size: 2em;
  padding: 0.5em;
}

/* line 84, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-segment-description {
  display: inline-block;
  text-align: left;
  width: 4em;
}

/* line 90, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-segment-input {
  width: 40%;
  max-width: 8em;
  font-size: 1em;
  padding: 0.2em;
}

/* line 97, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-syllable {
  display: inline-block;
  background-color: #78ff87;
  padding: 0.6em 0.5em;
  margin: 0 0.1em;
}

/* line 104, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-syllable-selected {
  display: inline-block;
  background-color: #b6ffc3;
  padding: 0.6em 0.5em;
  margin: 0 0.1em;
}

/* line 111, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-syllable:hover {
  cursor: pointer;
}

/* line 115, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-syllable-selected:hover {
  cursor: pointer;
}

/* line 119, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-segment-match {
  padding: 0;
}

/* line 123, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-diagram-segment-antimatch {
  color: red;
  padding: 0;
}

/* line 128, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-box-syllable-details {
  padding: 0.5em;
  background-color: #78ff87;
  width: 16.5em;
  margin: 0.5em auto;
}

/* line 135, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.main-option-segment-box {
  padding: 0.3em;
}

/* line 139, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-area {
  padding: 1em 0.5em;
}

/* line 143, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-expander-arrow {
  font-size: 2.5em;
  color: #78ff87;
  position: absolute;
  top: 0.15em;
  right: 0.4em;
  padding: 0.6em;
}

/* line 152, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_main-banner.scss */
.query-word-lexeme {
  text-align: left;
  font-size: 1.5em;
  padding: 0.4em 2em;
}

/* line 1, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.results-list {
  text-align: center;
  margin-bottom: 10em;
}

/* line 6, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-row-even {
  background-color: #78ff87;
  padding: 1.5em;
  position: relative;
}

/* line 12, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-row-odd {
  background-color: #2ecc40;
  padding: 1.5em;
  position: relative;
}

/* line 18, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-word-name {
  font-size: 2.5em;
  width: 100%;
}

/* line 23, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-word-pronunciation {
  font-size: 2em;
  font-style: italic;
  padding: 0.6em 0em;
}

/* line 29, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-expander-arrow-even {
  font-size: 2.5em;
  color: #2ecc40;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

/* line 38, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-expander-arrow-odd {
  font-size: 2.5em;
  color: #78ff87;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

/* line 47, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.result-word-lexeme {
  text-align: left;
  font-size: 1.5em;
  padding: 0.4em 2em;
}

/* line 53, ../../../../../../Users/robertkerr/Documents/GitHub/anyrhyme/anyrhyme-front/css/modules/_results-list.scss */
.more-results-link {
  font-size: 2.5em;
  width: 100%;
  color: black;
}

@-webkit-keyframes rotate-forever {
  /* line 10, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 18, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotate-forever {
  /* line 27, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 35, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate-forever {
  /* line 44, main.scss */
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 52, main.scss */
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* line 61, main.scss */
.loading-spinner {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: rotate-forever;
  -moz-animation-name: rotate-forever;
  animation-name: rotate-forever;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  width: 5em;
  height: 5em;
  border: 1em solid #2ecc40;
  border-right-color: transparent;
  border-radius: 50%;
  display: inline-block;
}

/* line 82, main.scss */
.spinner-even {
  border: 1em solid #2ecc40;
  border-right-color: transparent;
}

/* line 87, main.scss */
.spinner-odd {
  border: 1em solid #78ff87;
  border-right-color: transparent;
}
