.main-banner {
  text-align: center;
}

.main-banner a {
  color: black;
}

.main-banner-headline {
  background: $almost-white;
  overflow: hidden;
  padding-bottom: 0.4em;

  h1 {
    font-size: 5em;
    font-weight: 600;
    padding: 0.7em;
    font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  }
}

.main-banner-tagline {
  padding: 1em 0em;
  background-color: $almost-white;

  input {
    background-color: white;
    font-family: inherit;
  }
}

.query-word-input {
  font-size: 2.5em;
}

.query-word-input-pronunciation {
  font-size: 2em; 
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

.query-word-input-arrows {
  font-size: 2.5em; 
  color: $gray;
  display: inline-block;
  padding-left: 0.5em;
}

.main-more-options {
  font-size: 1.6em; 
  font-style: italic;
}

.main-options-area-input {
  background-color: $almost-white;
  padding: 1em 0em;
}

.main-options-area {
  padding: 0em 0.5em 1em;
}

.main-options-select-area {
  max-width: 540px; 
  padding: 1em 2em 2em;
  margin: 0em auto;
  font-size: 1em;
}

.main-options-container {
  background-color: $almost-white;
  padding: 0em;
  position: relative;
}

.main-lead-in {
  padding: 0em 0em 1em;
}

.main-final {
  padding: 1em 0em 3.5em;
}

.main-option-box {
  font-size: 1.8em;
  padding: 0.3em;
  select {
    font-family: inherit;
  }
}

.main-option-segment-description {
  display: inline-block; 
  text-align: left; 
  width: 4em;
}

.main-option-segment-input {
  width: 40%; 
  // max-width: 8em; 
  font-size: 1em;
  padding: 0.2em;
}

.main-option-diagram-syllable {
  display: inline-block; 
  background-color: $almost-white;
  padding: 0.7em 0.6em 0.6em;
  margin: 0 0.1em;
  border: solid 1px $gray;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

.main-option-diagram-syllable-selected {
  display: inline-block; 
  background-color: white;
  padding: 0.7em 0.6em 0.6em;
  margin: 0 0.1em;
  border: solid 1px $gray;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

.main-option-diagram-syllable:hover {
  cursor: pointer;
}

.main-option-diagram-syllable-selected:hover {
  cursor: pointer;
}

.main-option-diagram-segment-match {
  padding: 0;
}

.main-option-diagram-segment-antimatch {
  color: red;
  padding: 0;
}

.main-option-box-syllable-details {
  padding: 0.5em;
  background-color: $almost-white;
  width: 16.5em;
  margin: 0.5em auto;
}

.main-option-segment-box {
  padding: 0.3em;
}

.query-word-area {
  padding: 1em 0.5em;
}

.query-word-expander-arrow {
  font-size: 2.5em; 
  color: $almost-white;
  position: absolute;
  top: 0.15em;
  right: 0.4em;
  padding: 0.6em;
}

.query-word-lexeme {
  text-align: left; 
  font-size: 1.5em; 
  padding: 0.4em 2em;
}

.results-list {
  text-align: center;
  margin-bottom: 10em; 
}

.result-row {
  background-color: $almost-white;
  padding: 2em 1.5em;
  position: relative;
  cursor: pointer;
}

.expanded {
  border-top: solid 1px $gray;
  border-bottom: solid 1px $gray;
  margin-top: -1px; 
  background-color: $gray2;
}

.expanded_inside {
  border-top: solid 1px $gray;
  border-bottom: solid 1px $gray;
  margin-top: -1px; 
  background-color: $gray1;
}

.result-word-name {
  font-size: 2.5em;
  width: 100%;
  font-weight: 500;
}

.result-word-pronunciation {
  font-size: 2em; 
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

.result-word-expanded {
  padding: 1em 2em 0.5em;
}

.result-word-lexeme {
  text-align: left; 
  font-size: 1.5em; 
  padding: 0.4em 0em;
}

.more-results-link {
  font-size: 2.5em;
  width: 100%;
  color: black; 
}