.results-list {
  text-align: center;
  margin-bottom: 10em; 
}

.result-row-even {
  background-color: $green-medium;
  padding: 1.5em;
  position: relative;
}

.result-row-odd {
  background-color: $green-darker; 
  padding: 1.5em;
  position: relative;
}

.result-word-name {
  font-size: 2.5em;
  width: 100%;
}

.result-word-pronunciation {
  font-size: 2em; 
  font-style: italic;
  padding: 0.6em 0em;
}

.result-expander-arrow-even {
  font-size: 2.5em; 
  color: $green-darker;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

.result-expander-arrow-odd {
  font-size: 2.5em; 
  color: $green-medium;
  position: absolute;
  top: 0;
  right: 0.4em;
  padding: 0.6em;
}

.result-word-lexeme {
  text-align: left; 
  font-size: 1.5em; 
  padding: 0.4em 2em;
}

.more-results-link {
  font-size: 2.5em;
  width: 100%;
  color: black; 
}