<div class="main-option-box" style="padding: 1em 0em 0.2em; width: 16em; margin: 0 auto;">
  <span>
    Set as a <a ng-click="preset_rhyme()">rhyme</a>, <a ng-click="preset_portmanteau1()">portmanteau</a> (from this word), or <a ng-click="preset_portmanteau2()">portmanteau</a> (onto this word) of the above word
  </span>
</div>

<div>
	<table class="syllable-table">
	  <tr>
	  	</td>
		  <td>
	    <td>
	    	<div class="main-option-diagram-ellipsis" ng-show="show_word_ellipsis(1)">
		      ...
		    </div>
		  </td>
	    <td ng-repeat="syllable in list_of_syllables_in_word()">
	    	<div class="main-option-diagram-word-syllable">
		      <span class="main-option-diagram-segment">{{syllable.onset.label}}-</span><span class="main-option-diagram-segment">{{syllable.nucleus.label}}{{syllable.stress}}</span><span class="main-option-diagram-segment">-{{syllable.coda.label}}</span>
		    </div>
	    </td>
	    <td>
	    	<div class="main-option-diagram-ellipsis" ng-show="show_word_ellipsis(2)">
		      ...
		    </div>
	    </td>
	    </td>
		  <td>
	  </tr>
	  <tr>
	    <td>
	    	<div class="main-option-diagram-syllable {{match_syllable_class(4)}}" ng-show="show_end_syllable('leading')" ng-click="select_match_syllable(4)">
		      <span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    </div>
		  </td>
		  <td>
		    <div class="main-option-diagram-ellipsis" ng-show="show_match_ellipsis(1)">
		      ...
		    </div>
	    </td>
	    <td ng-repeat="syllable in list_of_syllables_to_not_match_final()">
	    </td>
	    <td ng-repeat="syllable in list_of_syllables_to_match()">
				<div class="main-option-diagram-syllable {{match_syllable_class($index+1)}}" ng-click="select_match_syllable($index+1)">
		      <span class="main-option-diagram-segment-{{syllable.onset.match_type}}">{{syllable.onset.label}}-</span><span class="main-option-diagram-segment-{{syllable.nucleus.match_type}}">{{syllable.nucleus.label}}{{syllable.stress}}</span><span class="main-option-diagram-segment-{{syllable.coda.match_type}}">-{{syllable.coda.label}}</span>
		    </div>
	    </td>
	    <td ng-repeat="syllable in list_of_syllables_to_not_match_first()">
	    </td>
	    <td>
	    	<div class="main-option-diagram-ellipsis" ng-show="show_match_ellipsis(2)">
		      ...
		    </div>
		  </td>
		  <td>
		    <div class="main-option-diagram-syllable {{match_syllable_class(5)}}" ng-show="show_end_syllable('trailing')" ng-click="select_match_syllable(5)">
		      <span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    </div>
	    </td>
	  </tr>
	</table>
</div>

<div class="main-option-box">
	<form>
  <div class="result-row expanded_inside" style="margin: 0em 1em 0.8em; padding: 1em; cursor: default;" ng-repeat="syllable in selected_match_syllable()">
  	<div class="close-button" ng-click="deselect_match_syllable()">✕</div>
    <div class="main-option-segment-box">
      <span class="main-option-segment-description">Onset</span>
      <select name="select"style="font-size: 1em" ng-model="syllable.onset.match_type" ng-change="runQuery()">
        <option value="match">is</option> 
        <option value="antimatch">isn't</option>
      </select>
      <input type="text" class="main-option-segment-input" ng-model="syllable.onset.label" ng-change="runQuery()">
    </div>
    <div class="main-option-segment-box">
      <span class="main-option-segment-description">Nucleus</span>
      <select name="select"style="font-size: 1em" ng-model="syllable.nucleus.match_type" ng-change="runQuery()">
        <option value="match">is</option> 
        <option value="antimatch">isn't</option>
      </select>
      <input type="text" class="main-option-segment-input" ng-model="syllable.nucleus.label" ng-change="runQuery()">
    </div>
    <div class="main-option-segment-box">
      <span class="main-option-segment-description">Coda</span>
      <select name="select"style="font-size: 1em" ng-model="syllable.coda.match_type" ng-change="runQuery()">
        <option value="match">is</option> 
        <option value="antimatch">isn't</option>
      </select>
      <input type="text" class="main-option-segment-input" ng-model="syllable.coda.label" ng-change="runQuery()">
    </div>
    <div class="main-option-segment-box">
      <select name="select" style="font-size: 1em" ng-model="syllable.stress" ng-change="runQuery()">
        <option value="1">Primary</option> 
        <option value="2">Secondary</option>
        <option value="3">Some</option>
        <option value="0">No</option>
        <option value="">Any</option>
      </select>
      <span class="main-option-segment-description">stress</span>
    </div>    
  </div>
	</form>
</div>

<div class="main-option-box">
  Find words with 
  <select name="select" ng-model="query_options.filter_num_syllables_type" ng-change="runQuery()" style="font-size: 1em">
    <option value="at-least">at least</option> 
    <option value="exactly">exactly</option>
  </select>
  <select name="select" ng-model="query_options.filter_num_syllables" ng-change="runQuery()" style="font-size: 1em">
    <option ng-repeat="num in filter_lengths()" value="{{num}}">{{num}}</option>
  </select>
</div>
<div class="main-option-box" style="margin: 0em 0em 0em;">
  syllable<span ng-show="query_options.filter_num_syllables > 1">s</span> of which the 
  <select name="select" ng-model="query_options.match_end" style="font-size: 1em" ng-change="runQuery()">
    <option value="final">final</option> 
    <option value="first">first</option>
  </select>
  <select name="select" ng-model="query_options.match_num_syllables" ng-change="runQuery()" style="font-size: 1em">
    <option value="1">1</option> 
    <option ng-if="full_word.syllable_objects.length > 1" value="2">2</option>
    <option ng-if="full_word.syllable_objects.length > 2" value="3">3</option>
  </select>
</div>
<div class="main-option-box" style="margin: 0em 0em 0em;">
  <span ng-show="query_options.match_num_syllables == 1">is</span><span ng-show="query_options.match_num_syllables > 1">are</span> matched
</div>

<div class="main-option-box" style="padding: 1em 0 0.5em">
	<div class="checkbox">
		<input type="checkbox" id="checkboxInput" ng-change="runQuery()" ng-model="query_options.must_contain_lexemes"/>
  	<label for="checkboxInput">Only words with definitions</span></label>
	</div>
</div>