
<header class="site-header">
  gift-rapped.com

  &copy; 2014
</header>

<div class="outer-container">
	<section class="main-banner">
	  <div class="main-banner-headline">
	    <h1>GiftRAPPED</h1>
	  </div>
	  <div class="main-banner-tagline">
	    <div class="main-lead-in">
	    	<span class="main-word-input">Type in a word: </span>
	    </div>
	    <div class="main-options-container">
		    <div class="main-options-area-input">
		    	<autocomplete initial="initial_word" placeholder="" click-activation="true" data="autocomplete_words" on-type="autocompleteType" on-select="autocompleteSelect" on-submit="autocompleteSubmit"></autocomplete>
		    </div>
		    <div class="main-options-area">
		    	<span class="main-word-input-pronunciation">({{full_word.pronunciation_label_with_syllable_breaks}})</span>
		    </div>
		    <div class="main-options-area">
		    	<div class="main-option-box" ng-if="options_level == 1">
		    		Match type: 
			    	<select name="select" ng-model="query_options.match_type" ng-change="run_query()" style="font-size: 1em">
						  <option value="rhyme">Rhyme</option> 
						  <option value="port1">Portmanteau from</option>
						  <option value="port2">Portmanteau onto</option>
						</select>
					</div>
		    	<div class="main-option-box" ng-if="(options_level == 1) && rhyming_option()">
		    		<input type="checkbox" style="width: 2.8em; height: 2.8em" ng-model="query_options.match_length"></input>
		    		Only words of same length
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		Find words whose 
		    		<select name="select" ng-model="query_options.match_end" style="font-size: 1em" ng-change="run_query()">
						  <option value="final">final</option> 
						  <option value="first">first</option>
						</select>
						<select name="select" ng-model="query_options.match_num_syllables" ng-change="run_query()" style="font-size: 1em">
						  <option value="1">1</option> 
						  <option value="2">2</option>
						  <option value="3">3</option>
						</select>
						syllable(s) match:
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		<span class="main-option-diagram-syllable{{match_syllable_class(4)}}" ng-if="show_leading(1)" ng-click="select_match_syllable(4)">
		    			<span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    		</span>
		    		<span class="main-option-diagram-segment-match" ng-if="show_ellipsis(1)">
		    			...
		    		</span>
		    		<span class="main-option-diagram-syllable{{match_syllable_class($index+1)}}" ng-repeat="syllable in list_of_syllables_to_match()" ng-click="select_match_syllable($index+1)">
		    			<span class="main-option-diagram-segment-{{syllable.onset.match_type}}">{{syllable.onset.label}}-</span><span class="main-option-diagram-segment-{{syllable.nucleus.match_type}}">{{syllable.nucleus.label}}{{syllable.stress}}</span><span class="main-option-diagram-segment-{{syllable.coda.match_type}}">-{{syllable.coda.label}}</span>
		    		</span>
		    		<span class="main-option-diagram-segment-match" ng-if="show_ellipsis(2)">
		    			...
		    		</span>
		    		<span class="main-option-diagram-syllable{{match_syllable_class(5)}}" ng-if="show_leading(2)" ng-click="select_match_syllable(5)">
		    			<span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    		</span>
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		<span style="font-size: 0.8em">
		    			Set as a <a ng-click="preset_rhyme()">rhyme</a>, <br><a ng-click="preset_portmanteau1()">portmanteau</a> (from this word), or <br><a ng-click="preset_portmanteau2()">portmanteau</a> (onto this word) <br>of the above word
		    		</span>
					</div>
					<div class="main-option-box" ng-if="options_level == 2">
		    		<div class="main-option-box-syllable-details" ng-repeat="syllable in selected_match_syllable()">
			    		<div class="main-option-segment-box">
				    		<span class="main-option-segment-description">Onset</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.onset.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.onset.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
				    		<span class="main-option-segment-description">Nucleus</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.nucleus.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.nucleus.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
								<span class="main-option-segment-description">Coda</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.coda.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.coda.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
				    		<select name="select" style="font-size: 1em" ng-model="syllable.stress" ng-change="run_query()">
								  <option value="1">Primary</option> 
								  <option value="2">Secondary</option>
								  <option value="3">Some</option>
								  <option value="0">No</option>
								  <option value="">Any</option>
								</select>
								<span class="main-option-segment-description">stress</span>
							</div>		
						</div>
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		Words with 
		    		<select name="select" ng-model="query_options.filter_num_syllables_type" style="font-size: 1em">
						  <option value="at-least">at least</option> 
						  <option value="exactly">exactly</option>
						</select>
						<select name="select" ng-model="query_options.filter_num_syllables" style="font-size: 1em">
						  <option value="1">1</option> 
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						</select>
						syllable(s)
		    	</div>
		    	<div class="main-option-box" ng-if="options_level > 0">
		    		<input type="checkbox" style="width: 2.8em; height: 2.8em" ng-model="query_options.must_contain_lexemes"></input>
		    		Only words with definitions 
		    	</div>
		    </div>
		    <div class="main-options-area" ng-if="options_level == 0">
		    	<a class="main-more-options" ng-click="set_options_level(1)">click for options</a>
		    </div>
		    <div class="main-options-area" ng-if="options_level == 1">
		    	<a class="main-more-options" ng-click="set_options_level(2)">click for more options</a>
		    </div>
		    <div class="main-options-area" ng-if="options_level == 2">
		    	<a class="main-more-options" ng-click="set_options_level(1)">click for fewer options</a>
		    </div>
		    <div class="main-options-area" ng-if="options_level > 0">
		    	<a class="main-more-options" ng-click="set_options_level(0)">remove options</a>
		    </div>
		  </div>
	    <div class="main-final">
	    	<span ng-if="!busy" class="main-word-input">...and find {{filtered_results().length}} rhyming words:</span>
	    	<span ng-if="busy" class="main-word-input">...and find...</span>
	    </div>
	  </div>
	</section>

	<section class="results-list">
		<div ng-repeat="result in filtered_results()" ng-click="expand(result)">
			<div class="result-row-{{even_tag($index)}}">
				<div class="result-word-name">{{result.primary_word.name}}</div>
				<div class="result-expander-arrow-{{even_tag($index)}}" ng-if="not_expanded(result)">▼</div>
				<div class="result-expander-arrow-{{even_tag($index)}}" ng-if="expanded(result)">▲</div>
				<div class="result-word-pronunciation" ng-if="expanded(result)">
					({{result.pronunciation_label_with_syllable_breaks}})
				</div>
				<div ng-if="expanded(result)">
					<div class="result-word-lexeme" ng-repeat="lexeme in result.primary_word.lexemes">
						({{lexeme.word_class}}) {{lexeme.word_gloss}}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>