
<header class="site-header">
	<div class="header-box">
		<a ng-click="toggle_explanation()" style="float: left">What is this?</a>
		<span class="header-arrow" ng-if="explanation == false">▼</span>
		<span class="header-arrow" ng-if="explanation == true">▲</span>
	  <span style="float: right">gift-rapped.com &copy; 2014</span>
	</div>
	<div ng-if="explanation == true" class="explanation-box">
		<div class="explanation-subbox">
			GiftRAPPED is a rhyming dictionary... but also a lot more! You can find portmanteaus (e.g. <a href="http://en.wikipedia.org/wiki/Sheeple">sheeple</a>), rhymes of differing strength, and explore words that are share similar sounds.
		</div>
		<div class="explanation-subbox">
			This opensource app is powered by the GiftRAPPED API (<a href="http://api.gift-rapped.com">api.gift-rapped.com</a>), which you can use to make cool things, such as a silly misquote generator (<a href="http://misfloated.gift-rapped.com">misfloated.gift-rapped.com</a>). It uses word phoneme data from <a href="http://www.speech.cs.cmu.edu/cgi-bin/cmudict">Carnegie Mellon University</a> and lexemes (word definitions) from <a href="http://wordnet.princeton.edu/">Princeton University's WordNet</a>.
		</div>
		<div class="explanation-subbox">
			My name is Rob Kerr. Have a look at the github repositories for <a href="https://github.com/robrkerr/giftrapped-ang">this app</a> and for <a href="https://github.com/robrkerr/giftrapped-api">the API</a>. 
		</div>
	</div>
</header>

<div class="outer-container">
	<section class="main-banner">
	  <div class="main-banner-headline">
	    <h1>GiftRAPPED</h1>
	  </div>
	  <div class="main-banner-tagline">
	    <div class="main-lead-in">
	    	<span class="query-word-input">Type in a word: </span>
	    </div>
	    <div class="main-options-container">
		    <div class="main-options-area-input">
		    	<div ng-click="do_not_expand_query_word($event)">
		    		<autocomplete initial="initial_word" placeholder="" click-activation="true" data="autocomplete_words" on-type="autocompleteType" on-select="autocompleteSelect" on-submit="autocompleteSubmit"></autocomplete>
		    	</div>
		    	<div class="main-options-select-area">
		    		<div class="main-more-options" style="display: inline-block; float: left">
			    		options:
			    		<a ng-click="set_options_level(0)" ng-if="options_level != 0">none</a>
			    		<span ng-if="options_level == 0">none</span> /
			    		<a ng-click="set_options_level(1)" ng-if="options_level != 1">some</a>
			    		<span ng-if="options_level == 1">some</span> /
			    		<a ng-click="set_options_level(2)" ng-if="options_level != 2">all</a>
			    		<span ng-if="options_level == 2">all</span>
			    	</div>
			    	<div class="main-more-options" style="display: inline-block; float: right">
			    		<a ng-click="expand_query_word()">word details</a>
						</div>
		    	</div>
			    <div class="query-word-area" ng-if="query_word_expanded == true">
			    	<span class="query-word-input-pronunciation">({{full_word.pronunciation_label_with_syllable_breaks}})</span>
			    </div>
			    <div ng-if="query_word_expanded == true">
						<div class="query-word-lexeme" ng-repeat="lexeme in full_word.lexemes">
							({{lexeme.word_class}}) {{lexeme.gloss}}
						</div>
					</div>
				</div>
		    <div class="main-options-area">
		    	<div class="main-option-box" ng-if="options_level == 1">
		    		Match type: 
			    	<select name="select" ng-model="query_options.match_type" ng-change="run_query()" style="font-size: 1em">
						  <option value="rhyme">Rhyme</option> 
						  <option value="port1">Portmanteau from</option>
						  <option value="port2">Portmanteau onto</option>
						</select>
					</div>
		    	<div class="main-option-box" ng-if="(options_level == 1) && rhyming_option()">
		    		<input type="checkbox" style="width: 2.8em; height: 2.8em" ng-model="query_options.match_length"></input>
		    		Only words of same length
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		Find words whose 
		    		<select name="select" ng-model="query_options.match_end" style="font-size: 1em" ng-change="run_query()">
						  <option value="final">final</option> 
						  <option value="first">first</option>
						</select>
						<select name="select" ng-model="query_options.match_num_syllables" ng-change="run_query()" style="font-size: 1em">
						  <option value="1">1</option> 
						  <option value="2">2</option>
						  <option value="3">3</option>
						</select>
						syllable(s) match:
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		<span class="main-option-diagram-syllable{{match_syllable_class(4)}}" ng-if="show_leading(1)" ng-click="select_match_syllable(4)">
		    			<span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    		</span>
		    		<span class="main-option-diagram-segment-match" ng-if="show_ellipsis(1)">
		    			...
		    		</span>
		    		<span class="main-option-diagram-syllable{{match_syllable_class($index+1)}}" ng-repeat="syllable in list_of_syllables_to_match()" ng-click="select_match_syllable($index+1)">
		    			<span class="main-option-diagram-segment-{{syllable.onset.match_type}}">{{syllable.onset.label}}-</span><span class="main-option-diagram-segment-{{syllable.nucleus.match_type}}">{{syllable.nucleus.label}}{{syllable.stress}}</span><span class="main-option-diagram-segment-{{syllable.coda.match_type}}">-{{syllable.coda.label}}</span>
		    		</span>
		    		<span class="main-option-diagram-segment-match" ng-if="show_ellipsis(2)">
		    			...
		    		</span>
		    		<span class="main-option-diagram-syllable{{match_syllable_class(5)}}" ng-if="show_leading(2)" ng-click="select_match_syllable(5)">
		    			<span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.onset.match_type}}">{{query_options.leading_syllable_to_match.onset.label}}-</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.nucleus.match_type}}">{{query_options.leading_syllable_to_match.nucleus.label}}</span><span class="main-option-diagram-segment-{{query_options.leading_syllable_to_match.coda.match_type}}">-{{query_options.leading_syllable_to_match.coda.label}}</span>
		    		</span>
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		<span style="font-size: 0.8em">
		    			Set as a <a ng-click="preset_rhyme()">rhyme</a>, <br><a ng-click="preset_portmanteau1()">portmanteau</a> (from this word), or <br><a ng-click="preset_portmanteau2()">portmanteau</a> (onto this word) <br>of the above word
		    		</span>
					</div>
					<div class="main-option-box" ng-if="options_level == 2">
		    		<div class="main-option-box-syllable-details" ng-repeat="syllable in selected_match_syllable()">
			    		<div class="main-option-segment-box">
				    		<span class="main-option-segment-description">Onset</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.onset.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.onset.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
				    		<span class="main-option-segment-description">Nucleus</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.nucleus.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.nucleus.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
								<span class="main-option-segment-description">Coda</span>
				    		<select name="select"style="font-size: 1em" ng-model="syllable.coda.match_type" ng-change="run_query()">
								  <option value="match">is</option> 
								  <option value="antimatch">isn't</option>
								</select>
								<input type="text" class="main-option-segment-input" ng-model="syllable.coda.label" ng-change="run_query()">
							</div>
							<div class="main-option-segment-box">
				    		<select name="select" style="font-size: 1em" ng-model="syllable.stress" ng-change="run_query()">
								  <option value="1">Primary</option> 
								  <option value="2">Secondary</option>
								  <option value="3">Some</option>
								  <option value="0">No</option>
								  <option value="">Any</option>
								</select>
								<span class="main-option-segment-description">stress</span>
							</div>		
						</div>
		    	</div>
		    	<div class="main-option-box" ng-if="options_level == 2">
		    		Words with 
		    		<select name="select" ng-model="query_options.filter_num_syllables_type" style="font-size: 1em">
						  <option value="at-least">at least</option> 
						  <option value="exactly">exactly</option>
						</select>
						<select name="select" ng-model="query_options.filter_num_syllables" style="font-size: 1em">
						  <option value="1">1</option> 
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>
						  <option value="11">11</option>
						  <option value="12">12</option>
						</select>
						syllable(s)
		    	</div>
		    	<div class="main-option-box" ng-if="options_level > 0">
		    		<input type="checkbox" style="width: 2.8em; height: 2.8em" ng-model="query_options.must_contain_lexemes"></input>
		    		Only words with definitions 
		    	</div>
		    </div>
		  </div>
	    <div class="main-final">
	    	<span ng-if="!busy" class="query-word-input">...and find {{filtered_results().length}} rhyming words:</span>
	    	<span ng-if="busy" class="query-word-input">...and find...</span>
	    </div>
	  </div>
	</section>

	<section class="results-list">
		<div ng-repeat="result in filtered_results()" ng-click="expand(result)">
			<div class="result-row-{{even_tag($index)}}">
				<div class="result-word-name">{{result.primary_word.name}}</div>
				<div class="result-expander-arrow-{{even_tag($index)}}" ng-if="not_expanded(result)">▼</div>
				<div class="result-expander-arrow-{{even_tag($index)}}" ng-if="expanded(result)">▲</div>
				<div class="result-word-pronunciation" ng-if="expanded(result)">
					({{result.pronunciation_label_with_syllable_breaks}})
				</div>
				<div ng-if="expanded(result)">
					<div class="result-word-lexeme" ng-repeat="lexeme in result.primary_word.lexemes">
						({{lexeme.word_class}}) {{lexeme.word_gloss}}
					</div>
				</div>
			</div>
		</div>
	</section>
</div>