input, select {
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
}

.main-banner {
  text-align: center;
}

.main-banner a {
  color: black;
}

.main-banner-headline {
  background: $light-gray5;
  overflow: hidden;
  padding-bottom: 0.4em;

  h1 {
    font-size: 5em;
    font-weight: 600;
    padding: 0.7em;
    font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  }
}

.main-banner-tagline {
  padding: 1em 0em;
  background-color: $light-gray5;

  input {
    background-color: white;
    font-family: inherit;
  }
}

.query-word-input {
  font-size: 2.5em;
}

.query-word-input-pronunciation {
  font-size: 2em; 
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

.query-word-input-arrows {
  font-size: 2.5em; 
  color: $medium-gray1;
  display: inline-block;
  padding-left: 0.5em;
}

.main-more-options {
  font-size: 1.8em; 
  font-style: italic;
}

.main-options-area-input {
  background-color: $light-gray5;
  padding: 1em 0em;
}

.main-options-area {
  padding: 0em 0.5em 1em;
}

.main-options-select-area {
  max-width: 500px; 
  width: 95%;
  padding: 1em 0.5em 2em;
  margin: 0em auto 1em;
  font-size: 1em;
}

.main-options-container {
  background-color: $light-gray5;
  padding: 0em;
  position: relative;
}

.close-button {
  position: absolute;
  right: 0.3em;
  top: 0.4em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.6em;
  cursor: pointer;
}

.main-lead-in {
  padding: 0em 0em 1em;
}

.main-final {
  padding: 1em 0em 3.5em;
}

.main-option-box {
  font-size: 1.8em;
  padding: 0.3em;

  select {
    font-family: inherit;
    padding: 0.1em 0.5em 0.1em 0.1em;
  }
}

.main-option-segment-description {
  display: inline-block; 
  text-align: left; 
  width: 3.7em;
}

.main-option-segment-input {
  width: 40%; 
  max-width: 7em; 
  font-size: 1em;
  padding: 0.2em;
}

.main-option-diagram-word-syllable {
  display: inline-block; 
  background-color: $light-gray8;
  padding: 0.8em 0.6em 0.8em;
  margin: 0 0.1em;
  border: solid 1px $medium-gray1;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

.main-option-diagram-syllable {
  display: inline-block; 
  background-color: $light-gray5;
  padding: 0.8em 0.6em 0.8em;
  margin: 0 0.1em;
  border: solid 1px $medium-gray1;
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
}

.main-option-diagram-syllable.selected {
  background-color: $light-gray1;
}

.main-option-diagram-syllable:hover {
  cursor: pointer;
}

.main-option-diagram-segment {
  padding: 0;
}

.main-option-diagram-segment-match {
  color: green;
  padding: 0;
}

.main-option-diagram-segment-antimatch {
  color: red;
  padding: 0;
}

.main-option-diagram-ellipsis {
  display: inline-block; 
  padding: 0;
}

.main-option-box-syllable-details {
  padding: 0.5em;
  background-color: $light-gray5;
  width: 16.5em;
  margin: 0.5em auto;
}

.main-option-segment-box {
  padding: 0.3em;
}

.query-word-area {
  padding: 1em 0.5em;
}

.query-word-expander-arrow {
  font-size: 2.5em; 
  color: $light-gray5;
  position: absolute;
  top: 0.15em;
  right: 0.4em;
  padding: 0.6em;
}

.query-word-lexeme {
  text-align: left; 
  font-size: 1.5em; 
  padding: 0.4em 2em;
}

.syllable-table {
  display: inline-block; 
  font-size: 2em;
  padding: 0.5em 0em; 
  white-space: nowrap;
}

.syllable-table td {
  padding: 0.3em 0.15em; 
  text-align: center;

  div {
    width: 100%;
  }
}
 
.results-list {
  text-align: center;
  margin-bottom: 10em; 
}

.result-row {
  background-color: $light-gray5;
  padding: 2em 1.5em;
  position: relative;
  cursor: pointer;
}

.expanded {
  border-top: solid 1px $medium-gray1;
  border-bottom: solid 1px $medium-gray1;
  margin-top: -1px; 
  background-color: $light-gray3;
}

.expanded_inside {
  border-top: solid 1px $medium-gray1;
  border-bottom: solid 1px $medium-gray1;
  margin-top: -1px; 
  background-color: $light-gray1;
}

.result-word-name {
  font-size: 2.5em;
  width: 100%;
  font-weight: 500;
}

.result-word-pronunciation {
  font-size: 2em; 
  font-family: 'Avenir Next Condensed', Avenir, 'sans-serif';
  padding: 0.6em 0em;
}

.result-word-expanded {
  padding: 1em 2em 0.5em;
}

.result-word-lexeme {
  text-align: left; 
  font-size: 1.5em; 
  padding: 0.4em 0em;
}

.more-results-link {
  font-size: 2.5em;
  width: 100%;
  color: black; 
}

.more-results {
  background-color: $light-gray3;
  padding: 3em 0;
  position: relative;
  cursor: pointer;
  border-top: solid 1px $medium-gray1;
  border-bottom: solid 1px $medium-gray1;
  height: 9.5em;
  margin-top: 5em; 
}


.checkbox {
  input[type=checkbox] {
    visibility: hidden;
  }
}

.checkbox label {
  cursor: pointer;
  position: relative;
  padding-left: 2.0em;
  padding-top: 0.2em;
}

.checkbox label::before {
  content: '';
  position: absolute;
  width: 1.45em;
  height: 1.45em;
  top: 0;
  left: 0;
  background-color: $light-gray8;
  border: solid 1px $medium-gray1;
}

.checkbox label::after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 0.9em;
  height: 0.28em;
  background: transparent;
  top: 0.32em;
  left: 0.115em;
  border: solid 0.4em $dark-gray3;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-50deg);
  -moz-transform: rotate(-50deg);
  -o-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}

.checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
