.main-banner {
  text-align: center;
}

.main-banner-headline {
  background: $sky_blue;
  color: $light_grey;
  overflow: hidden;
  padding-top: 2em;

  h1 {
    font-size: 3em;
  }
}

.main-banner-donut {
  max-width: 80%;
  position: relative;
  z-index: 0;
}

.main-banner-background {
  background: url('http://i.imgur.com/1mUWw6f.png') 50% 0% no-repeat;
  background-size: cover;
  width: 100%;
  height: 334px;
  margin-top: -90px;

  .breakpoint-desktop &,
  .breakpoint-wide & {
    padding-top: 40%;
    height: 0;
  }

}

.main-banner-tagline {
  padding: 2em;

  background-color: $canyon_orange;
  h2 {
    font-size: 2.5em;
    font-weight: lighter;
  }
}

.main-banner-tagline-reddit-logo {
  height: 1.26em;
}
