.main-banner {
  text-align: center;
}

.main-banner-headline {
  background: $green-medium;
  overflow: hidden;
  padding-bottom: 0.4em;

  h1 {
    font-size: 4em;
    padding: 0.8em;
  }
}

.main-banner-tagline {
  padding: 1.0em;
  background-color: $green-medium;

  div {
    padding: 1.0em;
  }

  input {
    background-color: $green-lightest;
  }
}

.main-word-input {
  font-size: 2.5em;
}

.main-word-input-pronunciation {
  font-size: 1.5em;
  font-style: italic;
}