.main-banner {
  text-align: center;
}

.main-banner-headline {
  background: $green-medium;
  overflow: hidden;
  padding-bottom: 0.4em;

  h1 {
    font-size: 4em;
    padding: 0.7em;
  }
}

.main-banner-tagline {
  padding: 1em 0em;
  background-color: $green-medium;

  input {
    background-color: $green-lightest;
  }
}

.main-word-input {
  font-size: 2.5em;
}

.main-word-input-pronunciation {
  font-size: 2em;
  font-style: italic;
}

.main-word-input-arrows {
  font-size: 2.5em; 
  color: $green-darker;
  display: inline-block;
  padding-left: 0.5em;
}

.main-more-options {
  font-size: 1.5em; 
  font-style: italic;
}

.main-options-area-input {
  background-color: $green-darker;
  padding: 1em 0em;
}

.main-options-area {
  background-color: $green-darker;
  padding: 0em 0em 1em;
}

.main-lead-in {
  padding: 0em 0em 1em;
}

.main-final {
  padding: 1em 0em 3.5em;
}